In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("spam.csv", engine ='python')
df.head()

,Categorey,Message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
df_n=df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis='columns')
df_n

     Categorey                                            Message
0          ham  Go until jurong point, crazy.. Available only ...
1          ham                      Ok lar... Joking wif u oni...
2         spam  Free entry in 2 a wkly comp to win FA Cup fina...
3          ham  U dun say so early hor... U c already then say...
4          ham  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567      spam  This is the 2nd time we have tried 2 contact u...
5568       ham              Will Ì_ b going to esplanade fr home?
5569       ham  Pity, * was in mood for that. So...any other s...
5570       ham  The guy did some bitching but I acted like i'd...
5571       ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [14]:
df_n.groupby('Categorey').describe()

          Message
            count unique                     top freq
Categorey
0            5572   5169  Sorry, I'll call later   30

In [18]:
df_n['Categorey']=df['Message'].apply(lambda x: 1 if x=='Categorey' else 0)
df_n

      Categorey                                            Message  spam
0             0  Go until jurong point, crazy.. Available only ...     0
1             0                      Ok lar... Joking wif u oni...     0
2             0  Free entry in 2 a wkly comp to win FA Cup fina...     0
3             0  U dun say so early hor... U c already then say...     0
4             0  Nah I don't think he goes to usf, he lives aro...     0
...         ...                                                ...   ...
5567          0  This is the 2nd time we have tried 2 contact u...     0
5568          0              Will Ì_ b going to esplanade fr home?     0
5569          0  Pity, * was in mood for that. So...any other s...     0
5570          0  The guy did some bitching but I acted like i'd...     0
5571          0                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df_n.Message,df_n.Categorey)

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_train_count = v.fit_transform(x_train.values)
x_train_count.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [22]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

In [23]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 0], dtype=int64)

In [25]:
x_test_count = v.transform(x_test)
model.score(x_test_count, y_test)

1.0

In [26]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [28]:
clf.fit(x_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [30]:
clf.score(x_test,y_test)

1.0

In [31]:
clf.predict(emails)

array([0, 0], dtype=int64)